  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Index</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
      </head>
      <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">Quentin Cacciatore</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="trains.html">Trains</a></li>
                <li><a href="#">Bails</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <!-- SELECTION -->
        <div id="trains">
          <div class="col-xs-5 selectContainer">
            <select v-model="lineSelected" v-on:change="getStations()" />
              <option v-for="line in lines">
                {{ line.code }}
              </option>
            </select>
          </div>
          <br>

          <div>
            <span v-for="station in stations">{{ station.name }} - </span>
          </div>
        </div>
        <br>

        <canvas id="canvas" width="1500" height="100"></canvas>

        <ol>
          <li class="saint-michel">St Michel
            <aside>Point de RV</aside>
          </li>
          <li class="cityhall">Hotel de Ville
            <aside>Départ Bus</aside>
          </li>
          <li class="opera">Opéra
            <aside>Opéra Garnier</aside>
          </li>
          <li class="catacombes">Catacombes
            <aside>Chiens interdits</aside>
          </li>
          <li class="grands-boulevards">Grands Boulevards
            <aside>Musée Grévin</aside>
          </li>
        </ol>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/components/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/components/vue.js"></script>
    <script type="text/javascript" src="js/components/vue-resource.min.js"></script>
    <script type="text/javascript" src="js/trains.js"></script>
  </body>
  </html>